In [17]:
# Import Dependencies
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager
from IPython.display import display

In [26]:
# Executable path
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless = False)

In [12]:
# Visit Mars News Site URL using splinter
NASA_url = 'https://redplanetscience.com/'
browser.visit(NASA_url)

# Convert the browser html to a soup object
html = browser.html
NASA_soup = soup(html, 'html.parser')

# Extract Title Text
NASA_news_title = NASA_soup.find('div', class_ = 'content_title')
display(f'Latest News Title: {NASA_news_title.text}\n')

# Extract Paragraph Text
NASA_news_paragraph = NASA_soup.find('div', class_ = 'article_teaser_body')
display(f'Latest News Paragraph: {NASA_news_paragraph.text}')

Latest News Title: While Stargazing on Mars, NASA's Curiosity Rover Spots Earth and Venus

Latest News Paragraph: This new portrait of the Red Planet's neighbors was taken during a time when there's more dust in the air on Mars.

In [14]:
# Visit Mars Space Images URL using splinter
Mars_image_url = 'https://spaceimages-mars.com/'
browser.visit(Mars_image_url)

# Convert the browser html to a soup object
html = browser.html
image_soup = soup(html, 'html.parser')

# Extract the current Featured Mars Image
results = image_soup.find_all('a', class_ = 'fancybox-thumbs')
image_urls = []
for result in results:
    image_urls.append(Mars_image_url + result['href'])

# Assign the URL string to a variable called featured_image_url
featured_image_url = Mars_image_url + results[0]['href']
featured_image_url

'https://spaceimages-mars.com/image/featured/mars1.jpg'

In [24]:
# Visit Mars Facts Webpage URL using splinter
Mars_fact_url = 'https://galaxyfacts-mars.com/'

# Use Pandas' function 'read_html' to parse the URL and scrape all data
table = pd.read_html(Mars_fact_url)

# Convert tabular data into a dataframe to rename columns
facts_table = table[0]

# Rename columns and reset index
facts_table = facts_table.rename(columns = {0: 'Description', 1: 'Mars', 2: 'Earth'})
facts_table.set_index('Description', inplace = True)
display(facts_table)

# Use Pandas to convert dataframe to HTML table string
mars_html = facts_table.to_html()
print(f'\nHTML table string: {mars_html}')

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

HTML table string: <table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Mars</th>
      <th>Earth</th>
    </tr>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Mars - Earth Comparison</th>
      <td>Mars</td>
      <td>Earth</td>
    </tr>
    <tr>
      <th>Diameter:</th>
      <td>6,779 km</td>
      <td>12,742 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg</td>
      <td>5.97 × 10^24 kg</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Distance from Sun:</th>
      <td>227,943,824 km</td>
      <td>149,598,262 km</td>
    </tr>
    <tr>
      <th>Length of Year:</th>
      <td>687 Earth days</td>
      <td>365.24 days</td>
    </tr>
    <tr>
      <th>Temperature:</th>
      <td>-87 to -5 °C</td>
      <td>-88 to 58°C</td>
    </tr>
  </tbody>
</table>

In [27]:
# Visit Astrogeology Webpage URL using splinter
Astrogeology_url = 'https://marshemispheres.com/'
browser.visit(Astrogeology_url)

# Convert the browser html to a soup object
html = browser.html
hemi_soup = soup(html, 'html.parser')

# Extract the collect title and image URLs for high-resolution images for each hemisphere
results = hemi_soup.find_all('div', class_ = 'item')
hemi_urls = []
for result in results:
    title = result.find('h3').get_text()
    img_url = result.find('img', class_ = 'thumb')['src']
    hemi_urls.append({'title': title, 'img_url': img_url})

hemi_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'images/08eac6e22c07fb1fe72223a79252de20_schiaparelli_enhanced.tif_thumb.png'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'images/55a0a1e2796313fdeafb17c35925e8ac_syrtis_major_enhanced.tif_thumb.png'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png'}]